/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.logo {
    width: 400px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.home-footer {
    margin-top: auto;
}

.main-facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}